body {
    background-image: url("blurryfire2.png"); 
    background-color: aliceblue;
}

img.pfp {
    width: 200px;
    border: solid;
    border-width: 5px;
    border-color: aliceblue;
    border-radius: 5px;
    margin-top: 15px;
}

.center {
    text-align: center;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: hsla(0, 0%, 100%, 0.5);
}

.nav {
    float: left;
}

.nav a {
    display: block;
    color: #2C2F33;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;;
}

.nav a:visited {
    color: #2C2F33;
    background-color: transparent;
    text-decoration: none;
}

.nav a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

h1 {
    color:#2C2F33;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: #2C2F33;
    font-family: 'Courier New', Courier, monospace;
}

h3 {
    color: #2C2F33;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
}

a:link {
    color: #2C2F33;
    background-color: transparent;
    text-decoration: underline;
}

a:visited{
    color: #2C2F33;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

.info {
    color: #2C2F33;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 3px solid white;
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.noscroll {
    overflow: hidden;
}

.runningdogs {
    width: 300px;
    position: relative;
    animation: mymove 7s linear infinite;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto auto;
    grid-column-gap: 125px;
    grid-row-gap: 50px;
    padding: 10px;
    margin-left: 200px;
    margin-right: 200px;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.grid-item {
    background-color: hsla(210, 3%, 13%, 0.4);
    border-left: 3px solid white;
    border-radius: 4px;
    padding: 20px; 
    font-size: 12px;
    text-align: left;
}

.button {
    background-color: hsla(210, 3%, 13%, 0.4);
    border:none;
    border-left: 2px solid white;
    border-radius: 4px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 15px;
    margin-top: 10px;
}

.button:hover {
    background-color: #2C2F33;
    cursor: pointer;
}

@keyframes mymove {
    from {left: -350px;}
    to {left: 1600px;}
  }